body {
    background-color: black;
    color: #e0a800;
    font-size: 20px;
}

#title,
#gifSpace,
.form-group {
    margin-top: 30px;
}

#title {
    color: #0069d9;
    margin-bottom: 30px;
    text-align: center;
}

#instructions,
#buttonSpace {
    text-align: center;
}

.btn-warning {
    margin: 5px;
}